<div class="container">
  <!-- begin footer -->
  <footer class="footer">
    <div class="footer__inner">
      <div class="contact">
        <div class="contact__title">Work inquiry, question or something else? <a href="#" class="js-email" data-user="{{ site.author.email | split: '@' | first }}" data-domain="{{ site.author.email | split: '@' | last }}">Email me</a>.</div>
        <ul class="contact__list list-reset">
          {% for contact in site.contact %}
          <li class="contact__item">
            <a class="contact__link" href="{{contact.link}}">{{contact.name}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </footer>
  <!-- end footer -->
</div>
<script>
(function(){
  document.querySelectorAll('.js-email').forEach(function(a){
    a.addEventListener('click',function(e){
      e.preventDefault();
      window.location.href='mailto:'+a.dataset.user+'@'+a.dataset.domain;
    });
  });
})();
</script>
